
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Python Flask Bucket List App</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="../static/css/signup.css" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <script src="../static/js/jquery-1.11.2.js"></script>
      <script src="../static/js/signUp.js"></script>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <p align="center">
            <a align="left" href="#">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a align="center" href="/consulta">Sign In</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a align="right" href="/showSignUp">Sign Up</a>
          </p>
        </nav>
        <!--
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            </br>
            <li role="presentation"><a href="/consulta">Sign In</a></li>
            </br>
            <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        -->
        <h3 class="text-muted">Python Flask App</h3>
      </div>

      <div class="jumbotron">
        <h1>Bucket List App</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a></p>
      </div>

      </br>
      </br>
      <div align="left">
        <footer class="footer">
          <p>&copy; Ofix S.A. de C.V. 2019</p>
        </footer>
      </div>

    </div>
  </body>
</html>

